<h1>Athelete Hub</h1>
<h2> Data Repository </h2>
<%= link_to "Atheletes", atheletes_path %>
<%= link_to "Skills", skills_path %>
<%= link_to "Championships", championships_path %>
<%= link_to "Athelete Championships", atheletes_championships_path %>
<h2> Search </h2>

<%= form_with(url: search_path, method: 'get', local: true) do %>
  <%= text_field_tag(:query) %>
  <%= select_tag(:search_type, options_for_select([["Name", :name], ["Age Range", :age_range], ["Years of experience", :experience], ["Skill", :skill]])) %>
  <%= submit_tag("Search") %>
<% end %>