<% if @results[:skills] %>
    <h2>Skills Found:</h2>
    <p><%= @results[:skills].map{|skill| skill.name} %></p>
    <h3>And extended To:</h3>
    <p><%= @results[:extended_skills].map{|skill| skill.name} %></p>
<% end %>

<% if @results[:error] %>
    <h2>Error: <%= @results[:error] %></h2>
<% elsif @results[:atheletes] && !@results[:atheletes].empty? %>
    <h2>Search Results:</h2>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Birthdate</th>
                <th>Skills</th>
                <th>Championship</th>
            </tr>
        </thead>
        <% @results[:atheletes].each do |result| %>
            <%= render result %>
        <% end %>
    </table>
<% else %>
    <h2>No Results Found</h2>
<% end %>
<%= link_to "Back", root_path %>