<tr>
    <td><%= athelete.name %></td>
    <td><%= athelete.birthdate %></td>
    <td><%= athelete.skills.map{|skill| skill.name} %>
    <td><%= athelete.atheletes_championships.map{|ac| ac.championship.name + (ac.grant_date ? (" " + ac.grant_date.year.to_s) : "") } %>
</tr>