<%= form_with(model: athelete, local: true) do |form| %>
  <% if athelete.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(athelete.errors.count, "error") %> prohibited this athelete from being saved:</h2>

      <ul>
        <% athelete.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :birthdate %>
    <%= form.date_select :birthdate, :start_year=>1900,:end_year=>2021 %>
  </div>

  <div class="field">
    <%= form.label :skill_ids %>
    <%= form.select :skill_ids, options_from_collection_for_select(Skill.order(:name), :id, :name), {}, {:multiple => true, :size => 4} %>
  </div>

  <div class="field">
    <%= form.label :championship_ids %>
    <%= form.select :championship_ids, options_from_collection_for_select(Championship.order(:name), :id, :name), {}, {:multiple => true, :size => 4} %>
  </div>
   
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
