<p id="notice"><%= notice %></p>

<h1>Atheletes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Birthdate</th>
      <th>Skills</th>
      <th>Championship</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @atheletes.each do |athelete| %>
      <tr>
        <td><%= athelete.name %></td>
        <td><%= athelete.birthdate %></td>
        <td><%= athelete.skills.map{|skill| skill.name} %>
        <td><%= athelete.atheletes_championships.map{|ac| ac.championship.name + (ac.grant_date ? (" " + ac.grant_date.year.to_s) : "") } %>
        <td><%= link_to 'Show', athelete %></td>
        <td><%= link_to 'Edit', edit_athelete_path(athelete) %></td>
        <td><%= link_to 'Destroy', athelete, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Athelete', new_athelete_path %>
