<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @athelete.name %>
</p>

<p>
  <strong>Birthdate:</strong>
  <%= @athelete.birthdate %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @athelete.skills.map{|skill| skill.name} %>
</p>

<p>
  <strong>Championships:</strong>
  <%= @athelete.atheletes_championships.map{|ac| ac.championship.name + (ac.grant_date ? (" " + ac.grant_date.year.to_s) : "") } %>
</p>

<%= link_to 'Edit', edit_athelete_path(@athelete) %> |
<%= link_to 'Back', atheletes_path %>
