<%= form_with(model: atheletes_championship, local: true) do |form| %>
  <% if atheletes_championship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(atheletes_championship.errors.count, "error") %> prohibited this atheletes_championship from being saved:</h2>

      <ul>
        <% atheletes_championship.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :athelete_id %>
    <%= form.select :athelete_id, options_from_collection_for_select(Athelete.order(:name), :id, :name), {}, {:multiple => false, :size => 4} %>
  </div>

  <div class="field">
    <%= form.label :championship_id %>
    <%= form.select :championship_id, options_from_collection_for_select(Championship.order(:name), :id, :name), {}, {:multiple => false, :size => 4} %>
  </div>

  <div class="field">
    <%= form.label :grant_date %>
    <%= form.date_select :grant_date, start_year: 1900, end_year: 2021 %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
