<h1>Editing Atheletes Championship</h1>

<%= render 'form', atheletes_championship: @atheletes_championship %>

<%= link_to 'Show', @atheletes_championship %> |
<%= link_to 'Back', atheletes_championships_path %>
