<p id="notice"><%= notice %></p>

<h1>Atheletes Championships</h1>

<table>
  <thead>
    <tr>
      <th>Athelete</th>
      <th>Championship</th>
      <th>Grant date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @atheletes_championships.each do |atheletes_championship| %>
      <tr>
        <td><%= atheletes_championship.athelete.name %></td>
        <td><%= atheletes_championship.championship.name %></td>
        <td><%= atheletes_championship.grant_date %></td>
        <td><%= link_to 'Show', atheletes_championship %></td>
        <td><%= link_to 'Edit', edit_atheletes_championship_path(atheletes_championship) %></td>
        <td><%= link_to 'Destroy', atheletes_championship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Atheletes Championship', new_atheletes_championship_path %>
