<p id="notice"><%= notice %></p>

<p>
  <strong>Athelete:</strong>
  <%= @atheletes_championship.athelete_id %>
</p>

<p>
  <strong>Championship:</strong>
  <%= @atheletes_championship.championship_id %>
</p>

<p>
  <strong>Grant date:</strong>
  <%= @atheletes_championship.grant_date %>
</p>

<%= link_to 'Edit', edit_atheletes_championship_path(@atheletes_championship) %> |
<%= link_to 'Back', atheletes_championships_path %>
